
=mobile
    @media (min-width: 20em)  /* 320px smartphones, iPhone, portrait 480x320 phones */
        @content

=sm-tablet
    @media (min-width: 31em)   /* 480px portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
        @content

=md-tablet
    @media (min-width: 41em)   /* 640px portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
        @content

=lg-tablet
    @media (min-width: 61em)   /* 960px tablet, landscape iPad, lo-res laptops ands desktops */ 
        @content

=laptop-desktop
    @media (min-width: 65em)  /* 1024px big landscape tablets, laptops, and desktops */ 
        @content

=hi-res
    @media (min-width: 81em)  /* 1281px hi-res laptops and desktops */ 
        @content

=work-image-size    /* 2048 × 1463 */
    width: 1067px
    height: 683px

    +mobile
        width: 1280px
        height: 820px

    +sm-tablet
        width: 1280px
        height: 820px

    +md-tablet
        width: 1280px
        height: 820px

    +lg-tablet
        width: 1280px
        height: 820px

    +laptop-desktop
        width: 1280px
        height: 820px

    +hi-res
        width: 1024px
        height: 732px

body
    width: 100vw
    margin: 0
    padding: 0


.container
    width: 100%
    height: 100vh
    scroll-snap-type: y proximity
    overflow-y: scroll
    margin: 0
    padding: 0

/* ------------  Config vars ---------------  */
$main-red: #ED1C24
$off-white: #F5F8E2
$main-white: #333
$main-black: #2b2523


/* ------------ templates/index-page.js ------------ */
.landing-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

     
/* ------------ components/Navbar.js ----------- */
nav
    width: 100%
    height: auto
    margin: 0
    padding: 0
    display: block
    position: fixed
    background-color: transparent
    z-index: 100

nav > div
    width: 100%
    height: auto
    margin: 0
    padding: 0
    display: inline-flex
    justify-content: space-between
    align-items: center

.navbar-brand
    font-size: 40px
    margin-top: 1vh
    margin-left: 5%

.navbar-item
    color: $main-red
    text-decoration: none

.navbar-burger

.burger

.navbar-menu 
    font-size: 40px
    margin-top: 1vh
    margin-right: 5%

.navbar-menu.is-active

.navbar-start
    position: relative

.has-text-centered  


/* ------------  components/WorkRoll.js ------------ */

article
    width: 100%
    height: 100vh
    padding: 0
    margin: 0
    display: grid
    grid-template-columns: 1.5rem 1fr auto 1.5rem
    grid-template-rows: 1fr auto 1.5rem
    grid-template-areas: "mar-top mar-top mar-top mar-top" "mar-left header gallery mar-right" "mar-bot mar-bot mar-bot mar-bot"
    position: relative
    scroll-snap-align: center

.mar-top
    grid-area: mar-top

.mar-bot
    grid-area: mar-bot

.mar-left
    grid-area: mar-left

.mar-right
    grid-area: mar-right

/* ----------------------------------- */

header
    grid-area: header
    display: grid
    grid-template-columns: 1fr 10%
    grid-template-rows: auto 1fr auto
    grid-template-areas: "title border" "description border" "count border"
    width: 100%
    height: 100%
    margin: 0
    padding: 0

header > h1
    grid-area: title
    width: 100%
    margin: 0 0 15px 0
    padding: 0

header a
    width: 100%
    color: $main-red
    font-size: 15px
    text-decoration: none

.description
    grid-area: description
    width: 100%
    height: auto
    margin: 0
    padding: 0

.description p
    width: 100%
    height: auto
    padding: 0
    color: $main-red
    font-size: 14px

header span
    grid-area: count
    width: 100%
    height: auto
    color: $main-red
    font-size: 14px

.border
    grid-area: border
    height: 100%
    width: 100%

/* ----------------------------------- */

.gallery
    grid-area: gallery
    margin: 0
    padding: 0
    position: relative
    display: block
    +work-image-size

.work-image-size
    +work-image-size

.work-image-box
    width: 100%
    height: 100%
    margin: 0
    padding: 0

.prev-next
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    position: absolute

.Previous
    width: 100%
    height: 100%
    z-index: 1

.Next
    width: 100%
    height: 100%
    z-index: 1

.cursor
    cursor: none

.cursor-style 
    font-size: 13px
    color: $main-red
    opacity: 0
    transform-origin: 100% 100%
    transform: translate(-50%, -50%)
    position: fixed
    pointer-events: none
    z-index: 999
 

/* ------------  templates/info-page.js ------------- */

.info-grid
    width: 100vw
    height: 100vh
    display: grid
    grid-template-columns: 1.5rem auto auto auto auto 1.5rem
    grid-template-rows: 10rem auto auto 1.5rem
    grid-template-areas: "top top top top top top" "left contact about cv image right" "left imprint developer space copyright right" "bot bot bot bot bot bot"

.info-margin-top
    grid-area: top
    width: auto
    width: auto
/* ------------------------------------ */
.contact-area
    grid-area: contact
    width: 204px
    height: 317px
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto auto auto
    grid-template-areas: "address" "name" "social"

.address
    grid-area: address
    width: auto
    height: auto

.name
    grid-area: name
    width: auto
    height: auto

.social
    grid-area: social
    width: auto
    height: auto

/* ------------------------------------ */
.about-area
    grid-area: about
    width: 365px
    height: 436px

.cv-area
    grid-area: cv
    width: 328px
    height: 364px

.info-image-area
    grid-area: image
    width: 299px
    height: 362px
/* ------------------------------------ */
.info-margin-left
    grid-area: left
    width: auto
    height: auto

.info-margin-right
    grid-area: right
    width: auto
    height: auto
/* ------------------------------------ */
.imprint-area
    grid-area: imprint
    width: auto
    height: auto
    
.developer-area
    grid-area: developer
    width: auto
    height: auto

.space
    grid-area: space
    width: auto
    height: auto

.copyright-area
    grid-area: copyright
    width: auto
    height: auto
/* ------------------------------------ */
.info-margin-bot
    grid-area: bot
    width: auto
    height: auto

.content

.imprint
    display: none

/* ------------ templates/footer-page.js ------------- */
.footer
.has-text-white-ter
.content
.has-text-centered
.rows
.row


/* ------------ (my classes) ------------ */
.address-footer-content 
.social-footer-content
.contact-footer-content 
.imprint-footer-content 
.developer-footer-content 
.copyright-footer-content 


/* ------------ Helper Classes ------------ */
.full-width-image-container
    width: 100vw
    height: 400px
    position: relative
    left: 50%
    right: 50%
    margin: 2em -50vw
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center


/* ------------ Override for use of svgs from https://simpleicons.org/ ------------ */
.icon svg
    width: 1.5rem
    height: 1.5rem
    fill: currentColor
.navbar-brand .navbar-item.logo
    padding: 0 1rem
footer.footer
    padding: 1rem 0rem 0rem
    background-color: transparent

